body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    text-align: center;
}

form{
    border: 1px solid grey;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    width: 80%;
}

form div{
    display: grid;
    grid-template-columns: 150px 150px auto;
    text-align: left;
}

body>.buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}